html{
  background: url("./20071716_36346125073368.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wrapper{
  max-width: 1200px;
  height: min-content;
}

.wrapper h1{
  font-size: 120px;
  margin: 10px 20px;
}
.wrapper p{
  margin: 10px 20px;
  font-size: 2rem;
}
footer{
  position:absolute;
  bottom: 0;
  height:2.5 rem;
  width: 100%
}
footer p{
  margin: 10px auto;
  text-align:center;
}
